{% extends 'myapp/base.html' %}
{% block title %}Faça o login{% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="py-3 text-center bg-primary text-white">

        <h1 class="mb-3">Galeria de Casamento</h1>

    </div>
        <center>
        <h1>Faça seu Login</h1>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Entrar">
        </form>

    <h4>Sem conta? Faça seu <a class="nav-link" href="/cadastrar_usuario">Cadastro</a></h4>
            </center>
    </div>
{% endblock %}